// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-mine-shaft: #282828;
  --color-boston-blue: #3291bb;
  --color-gallery: #f0f0f0;
  --color-shamrock: #2bc8a3;
  --color-iron: #d3d9dc;
  --color-outer-space: #2a383f;
  --color-rolling-stone: #7c8489;
}
